body {
    background-color: black;
}


.padre {
    background-color: darkviolet;
    height: 10rem;
}

.madre {
    background-color: black;
    height: 20rem;
}

.navbar {
    background-color: black;
}

.card-title {
    justify-content: center;
}

.container {
    margin-top: 2rem;
}

.col-portada {
    background-color: black;
    width: max-content;
}

.col-dossier {
    background-color: black;
    width: max-content;
    
}

.col-partners{
    background-color: black;
    width: max-content;
}