.padre {
    background-color: darkviolet;
    height: 10rem;
}

.madre {
    background-color: gainsboro;
    height: 20rem;
}

.colorUno{
    background-color: gray;
    width: 5rem;   
}

.colorDos{
    background-color: greenyellow;
    
}

.colorTres{
    background-color: blueviolet;
    
}